.user-component {
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component,
.user-component_column {
  display: flex;
  align-items: center;
}

.user-component_avarter {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component_title {
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.user-component_subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: 500;
}
.user-component_avarter_xl {
  width: 80px;
  height: 80px;
}

.user-component_avarter_sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component_title-not-bold {
  font-weight: 400;
}

.user-component_more:last-child {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-componet_time {
  margin-bottom: 10px;
  display: block;
}

.user-component_column:last-child {
  align-items: center;
  justify-content: flex-end;
}

.user-component_text i {
  color: rgba(255, 0, 0, 0.877);
  margin-left: 5px;
}
